<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="5660822a-2805-4695-bccf-4d0c0558530e" Version="1.0.0.0" Publisher="CN=Tandemic" />
  <Properties>
    <DisplayName>App1</DisplayName>
    <PublisherDisplayName>Tandemic</PublisherDisplayName>
    <Logo>images\storelogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" StartPage="default.html">
      <m2:VisualElements DisplayName="ExtremeApp" Description="Browse Extreme Videos of people doing extreme things. Do those things." ForegroundText="light" BackgroundColor="#464646" Square150x150Logo="images\Logo.png" Square30x30Logo="images\SmallLogo.png">
        <m2:SplashScreen Image="images\splashscreen.png" />
      </m2:VisualElements>
      <ApplicationContentUriRules>
        <Rule Match="https://*.youtube.com/watch?v=2L-k_kJv9uU" Type="include" />
        <Rule Match="https://www.youtube.com/embed/2L-k_kJv9uU" Type="include" />
      </ApplicationContentUriRules>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>